@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Poppins:wght@200;400&family=Roboto:ital,wght@0,400;1,100&display=swap');
@import url('http://fonts.cdnfonts.com/css/circular-std');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body,html{
    
    height: 100%;
    font-family: 'roboto';
    overflow: hidden;
}

.sidebar{
    float: left;
    height: 100%;
    width: 240px;
    padding: 10px 10px;
    padding-bottom: 200px;
    background-color: rgb(0, 0, 0);
    position: sticky;
    z-index: 2;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    font-weight: 700;
    font-size: 26px;
}
.itens{
    vertical-align: middle;
    display: inline-flex;
    flex-direction: column;
    color: white;
    align-content: center;
    align-items: flex-start;
    padding: 20px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
}
span p{
    margin-left: 16px;
}
.home,.busca,.menu,.playlist{
    display: inline-flex;
    align-items: center;
   
}

.home,.busca,.menu,.playlist p{
   
    filter: brightness(70%);
}
.playlists p:hover{
    filter: brightness(100%);

}

.itens span{
    padding-bottom: 16px;
}
.logoname{
    color: white;
    
}
.logo img{
    background-color: white;
}
.playlists{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    color: white;
    font-weight: 700;
    font-size: 14px;
}
.playlist{
    padding-bottom: 10px;
}
.linha{
    width: 80%;
    margin-left: 8.5%;
    
    border: 0;
    border-top: 0.5px solid rgb(48, 47, 47);
}
.mais{
    position: absolute;
    color: black;
    align-self: center;
    justify-self: center;
    top: 4px;
    left: 9.5px;
    font-size: 18px;
}

.coracao{
    position: absolute;
    top: 5.5px;
    left: 8px;
    filter: brightness(100%);

}
#cora{
    position: relative;
}
#num2{
    background:linear-gradient(120deg,rgba(123, 70, 207, 0.993),rgb(63, 48, 148),rgb(191, 166, 214));
    
}
#num1{
    position: relative;
}
#num1,#cora{
    filter: brightness(70%);
}
#num1:hover,#cora:hover{
    filter: brightness(100%);
}
.playlistnames{
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.name{
    padding-bottom: 16px;
    font-weight: 500;
    
}
.home:hover,.busca:hover,.menu:hover,.playlist{
    filter:brightness(100%);
}
.playlistnames p{
    filter:brightness(70%);
}
.playlistnames p:hover{
    cursor:default;
    color: white;
    filter: brightness(100%);
}

.itens,.playlists{
    cursor: pointer;
}
.playlist img{
    background-color: white;
}
.playlistnames{
    color: white;
}


.main{
    width: calc(100% - 240px );
    float: left;
    overflow-y: scroll;
    height: 100%;
    padding: 15px 30px;
    background-image: linear-gradient(#581c2c,rgb(20, 20, 20),rgb(20,20,20),rgb(17,17,17),rgb(17,17,17),rgb(17,17,17),rgb(17,17,17));
    background-attachment: local;
    
}

.topnav{
    width:100%;
    background-color:#581c2c;
    height: 65px;
    position: sticky;
    
}
.topitens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 23px ;
   
}

.leftnext{
    display: flex;
    
}
#next{
    transform: rotateY(180deg);
}
    

.square{
    background-color: rgba(19, 21, 33, 0.685);
    z-index: 1;
    position: relative;
    border-radius: 50%;
    top: -9px;
    left: -8px;
}
.left{
    position:absolute;
    z-index: 2;
    align-self: center;
    justify-self: center;
    cursor: not-allowed;
}

.back{
    padding-left: 38px;
    
}

.upgrade{
    cursor: pointer;
    padding-right: -50px;
}
.usuario{
    padding-right: 29px;

}
.upeperfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

}

.largao{
    background-color: rgba(19, 21, 33, 0.986);
    width: 190px;
    align-self: center;
    justify-self: center;
    position: relative;
    border-color: white;
    border: 0;
    border: 1.9px solid rgb(255, 255, 255);
    border-radius: 30px;
    top: -11px;
    left: -37px;
    opacity: 100%;
}
.largao:hover,.upgrade > span:hover{
    filter: contrast(300%);
}
.upfrase{
    position: absolute;
    z-index: 2;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family:'Circular Std';
}

.largao2{
    background-color: rgba(19, 21, 33, 0.986);
    position: relative;
    z-index: 1;
    border-radius: 30px;
    width: 165px;
    top: -9px;
    
}
.userspan{
    position: absolute;
    z-index: 2;
    font-family:'Circular Std';
    font-size: 14px;
    right: 52px;
    top: 21px;
    font-weight: 600;
}
.fotodeperfil{
    position: relative;
    border-radius: 50%;
    z-index: 2;
    top: -10.49px;
    left: 34px;
}


::-webkit-scrollbar{
    width: 14px;
    
    }
    ::-webkit-scrollbar-thumb{
    background: #5c5c5c;
    border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #8c8c8c;
    }
    ::-webkit-scrollbar-track{
    background: rgb(30, 30, 30);
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px rgb(30,30,30);
    }

.mainrow{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main2{
    padding-bottom: 200px;
}
.titulogeral{
    width: 100%;
}
.bloco{
    cursor: pointer;
    margin-right: 24px;
    margin-top: 20px;
    background-color: #201c1c;
    border-radius: 3px;
    padding: 12px;
    text-align: center;
    transition: 0.4s;
}

.bloco:hover,.largao2:hover{
    background-color: #302c2c;
    transition: 0.4s;
}

.titulogeral{
    color: white;
    font-family: 'Circular Std';
}
.bloco h3{
    color:white;
    font-size: normal;
    font-family: 'Circular Std';
}
a{
    filter: brightness(70%);
    color: white;
}
.bloco p{
    color: #9b9b9b;
}
.segredo{
    opacity: 0;
    cursor: pointer;
}

.player{
    left: 0;
    padding: 20px;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 93px;
    background-color: #181818;
    position: absolute;
    z-index: 2;
    padding-left: calc(20px - 3px);
}
.controles{
    position: relative;
    width: 650px;
    left: 30%;
    top: 0px;
    transform: translatex(-9%);
    height: 93px;
}
.play{
    position: absolute;
    top: -9px;
    left: -8px;
    transform: translate(50%,50%);
}

.boladoplay{
    background-color: white;
    width: 32px;
    height: 32px;
    top: 0;
    left: 47.5%;
    position: relative;
    border-radius: 50%;
}

.musica{
    width: 438px;
    height: 5px;
    background-color: #535353;
    position: absolute;
    top: 45px;
    border-radius: 30px;
    left: 104px;
    max-width: 438px;
    min-width: 198px;
    padding-left: 200px;
}
.tempo{
    left: -37px;
    top: -4px;
    position: absolute;
    font-size: 11px;
    font-family:'Circular Std';
    color: #a7a7a7;
    
}

.musicacont{
    position: relative;
    max-width: 100%;
}
.playermusicanome{
    color: white;
    font-size: 14px;
    font-family:'roboto';
    top: 12px;
    left: 69px;
    position: absolute;
}
.autor{
    font-size: 11px;
    font-family: 'roboto';
    left: 69px;
    top: 29px;
    color: white;
    position: absolute;
    width: 65px;
    filter: brightness(75%);
}

.heartplayer{
    position: absolute;
    top: 20px;
    left: 160px;
}

.numsei{
    width: 17px;
    height: 13px;
    border: 1.9px solid rgb(255, 255, 255);
    background-color: red;
    border-bottom: 2.9px solid white;
    top: 21px;
    left: 190px;
    position: absolute;
    background-color: transparent;
    filter: brightness(75%);
}

.ponto{
    width: 5px;
    height: 4px;
    background-color: #bebebe;
    left: 62%;
    top: 50%;
   
    position: absolute;
}